[submodule "test/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest/
[submodule "third_party/eigen3"]
	path = third_party/eigen3
	url = https://github.com/eigenteam/eigen-git-mirror
